<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29285330459-5nt5lisk5uue3vg7ekobc325rvos6al9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29285330459-5nt5lisk5uue3vg7ekobc325rvos6al9</string>
	<key>API_KEY</key>
	<string>AIzaSyD_gAu3BHeptjVbY2KCsSG3KPDO1MrdX5A</string>
	<key>GCM_SENDER_ID</key>
	<string>29285330459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tenkorang.com.safeJourney</string>
	<key>PROJECT_ID</key>
	<string>safe-journey-6d91f</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-journey-6d91f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29285330459:ios:0b4c6e12a8ad69dc0b52be</string>
</dict>
</plist>